body{
    margin: 0 10%; 
}

.myform {
    &__header{
        margin-bottom: 3%;
    }
    &__input--field{
        border: solid 2px $myGreen; 
    }
    &__button{
        color: white;
        background-color: $myGreen; 
    }
}

.mycarousel {
    &__header{
        margin: 3% 0; 
    }
    &__slide{
        border-radius: 10px; 
        width: 80%;
    }
}

.mydropdown{
    padding: 20px;
    &__header{
        margin: 3% 0; 
    }
    &__menu--links{
        margin-left: 35px; 
    }
}

.divider{
    margin: 60px 20% 40px;
}

.check{
    padding: 100px 0; 
}



